[Unit]
Description=Setup postgres database
Before=postgresql.service

[Service]
EnvironmentFile=-/etc/pg/environment.db
Type=oneshot
ExecStart=/usr/local/bin/pg-init.sh
StandardOutput=kmsg+console

[Install]
WantedBy=multi-user.target
